/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Font Section */

@font-face{
    font-family: 'Recursive';
    font-style: normal;
    src: url('../font/Recursive.ttf') format('truetype');
}

/* Animation Section */

@-webkit-keyframes appear {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    } to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    } to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes disappear {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } to {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}

@keyframes disappear {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    } to {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    -webkit-animation: fade .3s forwards;
            animation: fade .3s forwards;
}

#btn-appear {
    -webkit-animation: appear .3s forwards;
            animation: appear .3s forwards;
}

#btn-disappear {
    -webkit-animation: disappear .3s forwards;
            animation: disappear .3s forwards;
}

.fixed-action-btn {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

/* Global Section */

.swal2-container {
    padding: .625rem 2rem;
}

.swal2-popup {
    border-radius: 1.3rem;
}

.brand-logo {
    font-family: "Recursive", monospace;
    letter-spacing: 1px;
}

.body-content {
    padding: 10px 0 56px;
}

.loading-container {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.full-loading-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.full-loading-container .full-loading {
    margin: auto;
}

.empty-container {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.empty-container .empty-text {
    color: #9e9e9e;
}

.empty-container .empty-text h1 {
    font-size: 7rem;
}

.input-field {
    margin-bottom: 0;
}

.page-form {
    background-color: white;
}

hr {
    height: 1px;
    background-color: #90a4ae  ;
    border: none;
}

anime-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

anime-item .item-img {
    max-width: 26vw;
}

anime-item .item-img img {
    width: 100%;
}

anime-item .item-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
}

anime-item .item-caption span {
    color: black;
}

anime-item .item-caption .item-title {
    font-size: 5vw;
    margin-bottom: 5px;
}

anime-item .item-caption .item-subcaption {
    font-size: 3.5vw;
}

anime-item .item-subcaption span {
    margin-right: 1rem;
    color: #455a64;
}

/* Home Section */

.home-page .item-container .img-container {
    height: 36vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.sidenav .user-view .logo-img {
    margin: auto;
    border-radius: 0;
}

.sidenav .user-view .user-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
}

.sidenav .user-view .user-container .material-icons {
    font-size: 3rem;
    margin-right: 1rem;
}

.sidenav .user-view .user-container .name {
    margin-top: 0;
}

.sidenav .user-view .user-container .email {
    padding-bottom: 0;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.about-footer {
    width: 100%;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

/* Anime Section */
.anime-page {
    padding-top: 0;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem 0;
}

.header-container .img-container {
    max-width: 35vw;
    overflow: hidden;
    margin-right: 1.5rem;
}

.header-container .img-container img {
    width: 100%;
}

.header-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-caption .header-title {
    font-size: 5vw;
}

.header-caption .header-status {
    font-size: 3.5vw;
    color: #e0e0e0;
    margin-top: 1rem;
}

.anime-page .tab-text {
    color: rgba(255, 255, 255, .5) !important;
}

.anime-page .tab-text.active {
    color: rgba(255, 255, 255, 1) !important;
}

.anime-page .tabs .indicator {
    background-color: rgba(255, 255, 255, 1) !important;
}

.anime-page .section-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
}

.anime-page .section-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    margin-bottom: 0;
    max-width: 45%;
}

.anime-page .genre-container {
    padding: .7rem 0;
}

.anime-page .genre-item {
    background-color: #01579b;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

/* Setting Section */
.setting-container {
    margin-top: 2rem;
}

.setting-page .input-field label {
    color: #0288d1;
}

.setting-page .input-field input::-webkit-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input::-moz-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:-ms-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input::-ms-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input::placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:focus::-webkit-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:focus::-moz-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:focus:-ms-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:focus::-ms-input-placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input:focus::placeholder {
    color: #80cbc4;
    opacity: 1;
}

.setting-page .input-field input[type=text] {
    border-bottom: 1px solid #0288d1;
}

.setting-page .input-field input[type=email] {
    border-bottom: 1px solid #0288d1;
}

.setting-page .input-field .prefix {
    color: #0288d1;
}

.setting-page .input-field .prefix.active {
    color: #26a69a;
}

.setting-page .input-field .helper-text {
    color: #0288d1;
}

.setting-page .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
}

/* Responsive Section */

@media (min-width: 601px) {
    .home-page .item-container .img-container {
        height: 25vw;
    }
}

@media (max-width: 601px) {
    .sidenav {
        width: 240px;
    }
}

@media (min-width: 663px) {
    anime-item .item-img {
        max-width: 12vw;
    }
    
    anime-item .item-caption .item-title {
        font-size: 3vw;
    }
    
    anime-item .item-caption .item-subcaption {
        font-size: 2vw;
    }

    .header-caption .header-title {
        font-size: 4vw;
    }
    
    .header-caption .header-status {
        font-size: 3vw;
    }
}

@media (min-width: 993px) {
    .home-page .item-container .img-container {
        height: 21vw;
    }

    .header-caption .header-title {
        font-size: 2.5vw;
    }
    
    .header-caption .header-status {
        font-size: 1.5vw;
    }
}

@media (min-width: 1024px) {
    .home-page .item-container .img-container {
        height: 17vw;
    }
}